/*-----------------------------------------------------------General*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');

body {
    font-family:montserrat;
}
/*-----------------------------------------------------------Colors*/

/* 
#54B6B6 Header and footer background
#e5f0f0 page background blue
#ebebeb page background grey
#fafafa off white text for header and footer
*/

/*-----------------------------------------------------------Heading*/

.navbar-brand {

    color:#fafafa;
    padding-top:20px;

}

.navbar-brand:hover {
    color:#fafafa;
}


.main-heading {
    
    font-weight:800;
    font-size:50px;
}

.sub-heading {
    font-size:30px;
    font-weight:700;
}

@media screen and (max-width:423px) {
    .main-heading {
        font-size:25px;
    }

    .sub-heading {
        font-size:17px;
    }
}





/*-----------------------------------------------------------Navbar*/

.nav-item {
    padding:20px;
}

.nav-item>a:hover{
    color:#ebebeb !important;
}


.navbar-bg-color {
    background-color:#54B6B6;
    padding-bottom:20px;
}

.nav-link {
    
    font-size:25px;
    font-weight:800;
}

.navbar-dark .navbar-nav .nav-link {
    color:#fafafa;
}

/*-----------------------------------------------------------About Section*/
#about {
    background-color:#ebebeb;
    padding:100px 70px;
}

h2 {
    color:#54B6B6;
    font-weight:700;
    font-size:40px;
    padding-bottom:20px;
    }

.about {
    padding:50px 0;
}

.skills {
    list-style-type:none;

}

.icon-label {
    font-size:20px;
    font-family:Montserrat; 
}

.fab {
    font-size:40px;
}

li {
    padding:10px;
}

